.header {
    background-color: #509AFF;
    height: 80px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.create-product-back-button {
    background-color: #f02d2d;
    color: #ffffff;
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
    border: none;
    font-size: 40px;
    border-radius: 5px;
}

.create-product-back-button:hover {
    background-color: #8b1a1a;
}

.create-product-content {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.create-product-detail-product {
    width: 50%;
    height: 100%;
    margin-top: 100px;
}

.create-product-detail-row {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-between;
    margin-top: 40px;
}

.create-product-label {
    color: #3348A9;
    font-weight: bold;
    font-size: 20px;
}

.create-product-input {
    margin-right: 30px;
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    outline: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    color: #333;
    border: 1px solid #000
}

/* Khi focus */
.create-product-input:focus {
    border: 1px solid #4A90E2;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    color: #000;
}

/* Khi hover */
.create-product-input:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}


.create-product-description {
    margin-top: 40px;
    text-align: left;
    margin-left: 50px;
}

.product-detail-image {
    width: 50%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-img {
    margin: auto;
    object-fit: cover;
}

.product-detail-chooseimg-button {
    width: 100px;
    height: 40px;
    border: none;
    margin: auto;
    margin-top: 30px;
    font-size: bold;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.create-product-save-button {
    background-color: #17A28D;
    width: 100px;
    height: 40px;
    border-width: 0px;
    outline: none;
    margin-right: -300px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff
}

.create-product-save-button:hover {
    background-color: #094b41;
}