.bold {
    font-weight: bold;
    width: 400px;
}
.red-color {
    color: #FB0000;
}
.primary-color {
    color : #3348A9
}
.green-color {
    color: #85925A
}
.manfacturing-detail-close-button {
    border-width: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(100% - 40px);
    background-color: #E4E7F2;
}

.manfacturing-detail-close-icon {
    width: 60px;
    height: 40px;
    margin-bottom: 120px;
    background-color: rgb(221, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.manfacturing-detail-close-icon:hover {
    background-color: rgb(219, 125, 125);
} 

.manfacturing-detail-info {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: 2px solid #18A2B8;
    padding-bottom: 20px;
}

.manfacturing-detail-column {
    width: 50%;
}

.man-det-info-row {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 30px;
    justify-content: space-between;
}

.man-det-info-value {
    margin-right: 300px;
    font-weight: 600;
    width: 500px;
}

.man-det-table {
    overflow: hidden;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.man-det-table-title {
    background-color: #3E58CE;
}

.man-det-th {
    height: 40px;
    color: #fff;
    font-weight: 500;
}

.man-det-td {
    height: 42px;
    font-weight: 400;
}

.add-workorder {
    color: #3E58CE;
    text-align: left;
    width: 1000%;
    margin: auto;
    background-color: #96bef7;
    height: 35px;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.add-workorder:hover {
    color: #888fb0;
}

